@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;300;400&display=swap');
:root{
    --color-primary: rgb(220,220,220);
    --color-secondary: rgb(120,120,200);
    /*--size-text: 1.2rem; */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'JetBrains Mono', monospace;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: whitesmoke;
    width: 80%;
    max-width: 20rem;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
}
.form>label{
    align-self: flex-start;
    margin-top: 1rem;
}
.form:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
}
.btn-submit {
    border-radius: 1rem;
    text-align: center;
    cursor: pointer;
    background-color: black;
    color: white;
    margin-top: 1rem;
}
.list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3rem;
    background-color: cyan;
    width: 80%;
    max-width: 20rem;
    padding: 1rem;
    border-radius: 1rem;
}
.list:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
}
ul {
    list-style-type: none;
}
.l{
    display: flex;
    flex-flow: row;
    align-self: center;
}
.fix{
    display: flex;
    flex-flow: row;
    align-self: flex-end;
    justify-content: flex-end;
    cursor: pointer;
}